<div class="panel panel-default">
    <div class="row">
        <div class="col-md-7">
            <div class="section">
                <span class="title" >배너 이미지</span>

                <ul style="list-style-type:none;padding:0px">
                    <li ng-repeat="banner in banners" style="padding:5px 0px;">
                        <img ng-src="{{banner.img}}" style="width:100%">
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-5">
            <div class="section">
                <span class="title">배너 만들기</span>
                <div class="adminInputForm">
                    <div class="form-group">
                        <label for="bannerLinkAddr" class="control-label">주소</label>
                        <input id="bannerLinkAddr" type="text" class="form-control" placeholder="http://www.google.co.kr or 010-0000-0000" ng-model="banner.addr">
                    </div>
                    <div class="form-group">
                        <label for="bannerLinkType" class="control-label">주소 형태</label>
                        <select id="bannerLinkType" class="form-control" ng-model="banner.linkType">
                            <option value="0" default="default">URL</option>
                            <option value="1">TEL</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="bannerImagePicker" class="control-label">배너 이미지</label>
                        <div class="button imagePlaceholder " ngf-select ng-model="$parent.files" ngf-multiple="false">
                            <img ngf-src="files" ngf-default-background="assets/images/image-placeholder.png" />
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <button type="submit" class="btn btn-default pull-right" ng-click="onSubmit()">올리기</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>
