<div class="panel panel-default">
    <div class="section">
        <span class="title" ng-click="toggleCollapse()">데모</span>
        <div class="adminInputForm">
            <div class="form-group">
                <label for="storeProduct">품목</label>
                <select id="storeProduct" class="form-control" ng-model="selectedId">
                    <option ng-repeat="saleItem in saleItems" value="{{saleItem.Id}}">{{saleItem.Title}}</option>
                </select>
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-default pull-right" ng-click="submitInputs()" ng-disabled="selectedId == -1">확인</button>
            </div>
        </div>
    </div>
</div>