<nav class="navbar navbar-static-top navbar-inverse" ng-controller="NavbarCtrl">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" ui-sref="home">
                장보고 관리자
            </a>
        </div>

        <div>
            <ul class="nav navbar-nav">
                <li><a ui-sref="home.stores">상점</a></li>
                <li><a ui-sref="home.sales">할인 이벤트</a></li>
                <li><a ui-sref="home.introshops">내가게알리기</a></li>
                <li><a ui-sref="home.lightningdeal">반짝떨이</a></li>
                <li><a ui-sref="home.bookmarks">찜</a></li>
                <li><a ui-sref="home.users">사용자</a></li>
                <li><a ui-sref="home.banners">배너</a></li>
                <li><a ui-sref="home.products">품목</a></li>
                <li><a ui-sref="home.demo">데모</a></li>
            </ul>
        </div>
    </div>
</nav>
