<div class="panel panel-default">
    <div class="section">
        <span class="title">상점 등록</span>

        <form class="adminInputForm" collapse="isCollapsed" name="storeForm">
            <div class="form-group">
                <label for="storeName">상호명</label>
                <input type="text" class="form-control" id="storeName" placeholder="상호" ng-model="store.Name"
                       ng-minlength="1">
            </div>
            <div class="form-group">
                <label for="storeAddr">상점 주소</label>
                <input type="text" class="form-control" id="storeAddr" placeholder="주소" ng-model="store.Address"
                       ng-minlength="1">
            </div>
            <div class="form-group">
                <label for="storeContact">연락처</label>
                <input type="text" class="form-control" id="storeContact" placeholder="전화번호" ng-model="store.Contact"
                       ng-minlength="1">
            </div>
            <div class="form-group">
                <label for="storeProduct">품목</label>
                <input type="text" class="form-control" id="storeProduct" placeholder="주로 취급하는 상품"
                       ng-model="store.Product" ng-minlength="1">
            </div>
            <div class="form-group">
                <label for="storeProduct">GPS</label>
                <input type="text" class="form-control" id="storeGPS" placeholder="XXX, YYY" ng-model="store.GPS"
                       ng-pattern="/[0-9]+, [0-9]+/">
            </div>
            <div class="form-group">
                <label for="storeDescription">상점 소개</label>
                <textarea class="form-control" id="storeDescription" rows="5" ng-model="store.Description"></textarea>
            </div>
            <div class="form-group">
                <label for="storeDescription">상점 이미지</label>
                <input type="file" class="form-control" ngf-select ng-model="$parent.Images" ngf-multiple="true">
                <ul>
                    <li ng-repeat="image in Images">
                        <img ngf-src="image"/>
                    </li>
                </ul>
            </div>
            <div class="form-group">
                <button type="reset" class="btn btn-danger" ng-click="removeCurrentStore()">지우기</button>
                <button type="button" class="btn btn-default pull-right" ng-click="submitCurrentStore()">확인</button>
            </div>
        </form>
    </div>
    <div class="section">
        <span class="title">상점 등록</span>
        <div class="adminInputForm">
            <table class="table table-hover">
                <tr>
                    <th>ID</th>
                    <th>상호명</th>
                    <th>상점주소</th>
                    <th>연락처</th>
                    <th>품목</th>
                    <th>GPS</th>
                    <th></th>
                </tr>
                <tr ng-repeat="s in stores">
                    <td>{{s.Id}}</td>
                    <td>{{s.Name}}</td>
                    <td>{{s.Address}}</td>
                    <td>{{s.Contact}}</td>
                    <td>{{s.Product}}</td>
                    <td>{{s.GPS}}</td>
                    <td><a href="#" ng-click="removeStore(s.Id)">삭제</a></td>
                </tr>
            </table>
        </div>
    </div>
</div>
