<?xml version="1.0" encoding="ISO-8859-1" standalone="no"?>
<config>
    <propel>
        <paths>
            <!-- The directory where Propel expects to find your `schema.xml` file. -->
            <schemaDir></schemaDir>
            <!-- The directory where Propel should output generated object model classes. -->
            <phpDir></phpDir>
        </paths>
        <database>
            <connections>
                <connection id="default">
                    <adapter>mysql</adapter>
                    <dsn>mysql:host=localhost;dbname=undercity</dsn>
                    <user></user>
                    <password></password>
                    <settings>
                        <charset>utf8</charset>
                    </settings>
                </connection>
            </connections>
        </database>
    </propel>
</config>
